# .github/workflows/ci-cd.yml
name: CI/CD Pipeline for Basic Demo Microservice

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Create placeholder .env file if missing
        run: |
          if [ ! -f src/.env ]; then
            echo "# Placeholder .env file" > src/.env
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.CI_CD_ROLE_ARN }}
          role-session-name: GitHubActionsSession
          aws-region: us-east-1

      - name: Login to Amazon ECR Private
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t basic-demo-microservice-01:${IMAGE_TAG} .
          docker tag basic-demo-microservice-01:${IMAGE_TAG} ${{ secrets.AWS_ECR_REGISTRY }}/basic-demo-microservice-01:${IMAGE_TAG}
        env:
          AWS_ECR_REGISTRY: ${{ secrets.AWS_ECR_REGISTRY }}

      - name: Run Security Scan with Trivy
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ secrets.AWS_ECR_REGISTRY }}/basic-demo-microservice-01:${{ github.sha }}
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: Push Docker Image to AWS ECR
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker push ${{ secrets.AWS_ECR_REGISTRY }}/basic-demo-microservice-01:${IMAGE_TAG}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to Azure ACR
        run: az acr login --name aksmultiregiondemoacr

      - name: Tag and Push Docker Image to Azure ACR
        run: |
          IMAGE_TAG=${{ github.sha }}
          ACR_REPO="aksmultiregiondemoacr.azurecr.io/basic-demo-microservice-01"
          docker tag basic-demo-microservice-01:${IMAGE_TAG} ${ACR_REPO}:${IMAGE_TAG}
          docker tag basic-demo-microservice-01:${IMAGE_TAG} ${ACR_REPO}:latest
          docker push ${ACR_REPO}:${IMAGE_TAG}
          docker push ${ACR_REPO}:latest
